* {

    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    font-size: 140%;
    background-color: skyblue;
    background-clip: border-box;

}

img {
    width: 100%;
    height: auto;
    display: block;
}

nav {
    display: flex;
    background-color: pink;
    width: 100%;
    border-radius: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 20px;
    font-size: 120%;
    transition: 2s;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    padding: 20px;
    margin: 20px;
    margin: 0 auto;
    text-align: center;

}

.menu li:hover {
    background-color: lightskyblue;
    color: darkcyan;
    padding: 10px;
    border-radius: 20px;

}

figure {
    display: flex;
    width: 25%;
    height: auto;
    margin: 0 auto;

}